<div class="benefits">
  <div class="benefits__item">
      <picture class="benefits__img-wrapper">
        <source srcset="img/ginger.avif" type="image/avif">
        <source srcset="img/ginger.webp" type="image/webp">
        <img loading="lazy" src="img/ginger.png" alt="" class="benefits__img" width="192" height="168">
      </picture>
    <p class="benefits__title">Содержит <span class="highlighted">имбирь</span></p>
  </div>
  <div class="benefits__item benefits__item--lg">
      <picture class="benefits__img-wrapper">
        <source srcset="img/nootris.avif" type="image/avif">
        <source srcset="img/nootris.webp" type="image/webp">
        <img loading="lazy" src="img/nootris.png" alt="" class="benefits__img" width="480" height="160">
      </picture>
    <p class="benefits__title">+ Бесплатная доставка <span class="highlighted">Специальная цена</span></p>
  </div>
  <div class="benefits__item">
      <picture class="benefits__img-wrapper">
        <source srcset="img/virus.avif" type="image/avif">
        <source srcset="img/virus.webp" type="image/webp">
        <img loading="lazy" src="img/virus.png" alt="" class="benefits__img" width="192" height="160">
      </picture>
    <p class="benefits__title">Нейтрализует <span class="highlighted">вирусы</span></p>
  </div>
</div>
