<section class="discount">
  <div class="container discount__container">
    <h2 class="discount__title">ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА <span class="highlighted">СО СКИДКОЙ -15% ПЕРВЫМ!</span></h2>
    <div class="discount__price">
      <p class="discount__amount discount__amount--old">750₽</p>
      <p class="discount__amount">690₽</p>
    </div>
    <div class="discount__benefits">
      @include('benefits.html')
    </div>
    <a href="#" class="discount__make-order-btn">Оформить заказ!</a>
  </div>
</section>
