<section class="promo">
  <div class="container promo__container">
    <h1 class="promo__title">
      АКТИВИРУЙ ИММУНИТЕТ!
      <span class="promo__title-text">Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма</span>
    </h1>
    <h2 class="promo__subtitle">
      NOOTRIS ПОМОГАЕТ
      <span class="promo__subtitle-text">Вашему организму во время пандемии и сезонных простуд</span>
    </h2>
    <picture class="promo__img-wrapper">
      <source srcset="img/mask.avif" type="image/avif">
      <source srcset="img/mask.webp" type="image/webp">
      <img loading="lazy" src="img/mask.png" alt="" class="promo__img" width="816" height="968">
    </picture>
  </div>
</section>
